.controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main_message_container input {
    flex-grow: 1;
    height: 67px;
    background-color: #353135;
    border: none;
    color: #f5f5f5;
    outline-width: 0;
}

.chat_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.user_messages {
    list-style: none;
}

.main_chat_window {
    overflow: scroll;
}